{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="topProduct titleBest text-center">Лучшие товары</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for object in objectMaxRating %}
                    <div class="carousel-item {% if object.id == objectMaxRating[0].id %}{{ 'active' }}{% endif %}">
                        <img src="{{ object.url }}" onclick="window.location='{{ path('objects_show', {'id': object.id}) }}'" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}
