{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
   <div class="content text-center" style="color: white">
       <h2>{{ app.user.Username }}</h2>
       <table class="table" style="color: darkgray">
           <thead>
           <tr>
               <th>Номер контракта</th>
               <th>Арендуемый товар</th>
               <th>Время заказа</th>
               <th>Начало аренды</th>
               <th>Конец аренды</th>
               <th>Завершен-ли контракт?</th>
           </tr>
           </thead>
           <tbody>
           {% for contract in contracts %}
               <tr>
                   <td>{{ contract.id }}</td>
                   <td>{{ contract.Object.Name }}</td>
                   <td>{{ contract.NowDate ? contract.NowDate|date('Y-m-d') : '' }}</td>
                   <td>{{ contract.StartDateRent ? contract.StartDateRent|date('Y-m-d') : '' }}</td>
                   <td>{{ contract.EndDateRent ? contract.EndDateRent|date('Y-m-d') : '' }}</td>
                   <td>{{ contract.Action ? 'Yes' : 'No' }}</td>
               </tr>
           {% else %}
               <tr>
                   <td colspan="6">Заказов пока нет</td>
               </tr>
           {% endfor %}
           </tbody>
       </table>
   </div>
{% endblock %}
