{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div style="text-align: center;width: 300px;margin: auto">
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" style="margin-top: 5px" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" style="margin-top: 5px" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


        <div style="margin-bottom: 20px; margin-top: 10px">

            <button class="btn btn-lg btn-primary" style="margin-right: 70px;" type="submit">
                Sign in
            </button>

            <a href="{{ path('app_register') }}" style="float: right">
                <div class="btn-lg btn-primary" style="margin-right: 10px;">
                    Register
                </div>
            </a>
        </div>
    </div>

</form>
{% endblock %}
