{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{#    <form class="transparent">#}
{#        <div class="form-inner">#}
{#            <h3>Регистрация</h3>#}
{#            <label for="username">Имя пользователя</label>#}
{#            <input type="text" id="username">#}
{#            <label for="password">Пароль</label>#}
{#            <input id="password" type="password">#}
{#            <input type="checkbox" id="custom-checkbox">#}
{#            <label for="custom-checkbox">Запомнить меня</label>#}
{#            <button class="btn btn-lg btn-primary text-center">Register</button>#}
{#        </div>#}
{#    </form>#}

    <h1>Register</h1>
<div class="text-center" style="text-align: center;width: 500px;margin: auto; margin-bottom: 20px">
    {{ form_start(registrationForm) }}
    <div style="margin-bottom: 5px">
        {{ form_row(registrationForm.username,{'label': ' ', 'class': 'form-control', 'placeholder': 'Username'})}}
    </div>
        {{ form_row(registrationForm.plainPassword,{'label': ' '}) }}
    <div style="margin-top: 8px">
        <button class="btn btn-lg btn-primary">Register</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
