* {box-sizing: border-box;}
.border {
    width: 300px;
    margin: 0 auto;
    background: white;
    /*padding: 20px;*/
    /*border: 1px solid #F1E7E8;*/
}
.wrap {
    height: 100%;
    position: relative;
}
#catalog,.border{
    border: #0b2e13 !important;
}

.product-wrap {position: relative;}
.product-wrap:after {
    content: '';
    background: rgba(30, 30, 30, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}

.border:hover .product-wrap:after {
    opacity: 1;
    transform: scale(1);
}
.product-wrap a {
    display: block;
    text-decoration: none;
}
.product-wrap img {
    object-fit: scale-down;
    height: 200px;
    max-width: 100%;
}
.loop-action {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}
.border:hover .loop-action {opacity: 1;}
.loop-action a {
    text-decoration: none;
    display: block;
    border: 1px solid #ffd613;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #ffd613;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}
.loop-action a:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: #1e1e1e;
    z-index: -1;
    transition: .3s ease-in-out;
}
.loop-action a:hover {color: #ffd613;}
.loop-action a:hover:after {left: 0%;}
.border:hover {border-color: #4966A2;}
.product-info {padding-top: 15px;}
.stars {
    font-size: 14px;
    font-family: FontAwesome;
}
.stars:before {
    content: "\f005\f005\f005\f005\f123";
    color: #F2453E;
}
.product-title {
    font-weight: normal;
    font-family: "Open Sans";
    color: #162546;
    font-size: 18px;
}
.price {
    font-family: "Open Sans";
    color: #162546;
    font-style: italic;
    font-weight: bold;
}