.product-show img{
    background: gainsboro;
    border: #1e1e1e 1px solid;
    height: 400px;
    object-fit: scale-down;
    width: 500px;
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
    margin-left: 50px;
}

.product-text-show{
    color: white;
    margin: auto;
}