.form-search {  /* форма с boxtuffs.com */
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    border: 1px solid #747474;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
    background-image: linear-gradient(#BCBCBC, #EBEBEB);
}

.form-search:before {  /* рамка вокруг формы */
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
}

.form-search:focus-within {  /* изменение формы при фокусе */
    box-shadow: inset 0 1px 1px rgba(198, 246, 255, 0), 0 1px 0 #ffffff;
    background: linear-gradient(#1e1e1e, #c4c4c4);
}

.form-search input[type="search"] {  /* поле поиска */
    width: 250px;
    height: 32px;
    line-height: 32px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 0 0 6px;
    background: transparent;
    font: 13px Helvetica, Arial, sans-serif;
    color: #6E7074;
    text-shadow: 0 1px 0 #FFF;
    transition: all .2s ease-out;
}

.form-search:focus-within input[type="search"],  /* изменение поля поиска при фокусе */
 .form-search input[type="search"]:focus {
     color: rgb(255, 255, 255);
 }

.form-search input[type="image"] {  /* картинка лупы */
    padding: 0;
    vertical-align: bottom;
}