body{
    background: #4a4a49;
}

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
}

#carouselExampleControls{
    border: white 2px solid;
    background: grey;
    width: 100%;
    height: 500px;
}

.carousel-item img {
    object-fit: scale-down;
    height: 496px;
}

.carousel-inner > .carousel-item {
    height: 496px;
}

.title{
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: #000000; /* Цвет фона */
}

.titleBest{
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    border: 1px solid white;
    background: #000000; /* Цвет фона */
}

h1,h3 {
    color: white;
    text-align: center;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 10px; /* Толщина линии */
}

.about {
    display:inline-block;
}

.topProduct{
    color: white;
}

.nav-item > .nav-link{
    color: lightgray;
}

.textColorAdminMenu{
    color: #9E9E9E;
}
/*----------------------------*/
