{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

{% block body %}
    <h1>Товары</h1>
    {% if category == null %}
        <h1>В категории нет товаров ='(</h1>
    {% endif %}
        <div class="container content">
            <div class="row">
                <div class="col-12 products">
                    <div class="row">
        {% for object in category %}
                            <div class="col-sm-4">
                                <div class="product">
                                    <div class="border" id="catalog">
                                        <div class="wrap">
                                            <div class="product-wrap">
                                                <img src="{{ object.url }}" alt="">
                                            </div>
                                            <div class="loop-action">
                                                <a href="" class="loop-add-to-cart vKorzinu" data-toggle="modal" data-target="#exampleModal" data-objectId="{{ object.id }}">В корзину</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="product-title">
                                        <a href="{{ path('objects_show', {'id': object.id}) }}">{{ object.Name }}</a>
                                    </p>
                                    <p class="product-desc">{{ object.Description }}</p>
                                    <p class="product-price">Цена: €{{ object.Price }}</p>
                                </div>
                            </div>
        {% endfor %}


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Сделайте заказ</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        {{ render(controller('App\\Controller\\ContractController::new')) }}

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
