{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

{% block body %}
    <h1>Objects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.Name }}</td>
                <td>{{ object.Price }}</td>
                <td>
                    <a href="{{ path('objects_show', {'id': object.id}) }}">show</a>
                    <a href="{{ path('objects_edit', {'id': object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objects_new') }}">Create new</a>
{% endblock %}
