{% extends 'base.html.twig' %}

{% block title %}Objects{% endblock %}

{% block body %}
    {#    <h1>Objects</h1>#}

    {#    <table class="table">#}
    {#        <tbody>#}
    {#            <tr>#}
    {#                <th>Id</th>#}
    {#                <td>{{ object.id }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Name</th>#}
    {#                <td>{{ object.Name }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Price</th>#}
    {#                <td>{{ object.Price }}</td>#}
    {#            </tr>#}
    {#        </tbody>#}
    {#    </table>#}

    {#    <a href="{{ path('objects_index') }}">back to list</a>#}

    {#    <a href="{{ path('objects_edit', {'id': object.id}) }}">edit</a>#}

    {#    {{ include('objects/_delete_form.html.twig') }}#}
    <div class="form-inline">
        <div class="product-show">
            <img src="{{ object.url }}" alt="">
        </div>
            <div class="product-text-show">
                <h6>{{ object.description }}</h6>
            </div>
    </div>
{% endblock %}