{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}
    <h1>Contract</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>NowDate</th>
                <td>{{ contract.NowDate ? contract.NowDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StartDateRent</th>
                <td>{{ contract.StartDateRent ? contract.StartDateRent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDateRent</th>
                <td>{{ contract.EndDateRent ? contract.EndDateRent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ contract.Action ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contract_index') }}">back to list</a>

    <a href="{{ path('contract_edit', {'id': contract.id}) }}">edit</a>

    {{ include('contract/_delete_form.html.twig') }}
{% endblock %}
