    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="http://ok-t.ru/studopediasu/baza3/848330857894.files/image174.png" alt="Logo" style="width:40px;">
        {% if is_granted(expression('"ROLE_USER" in roles'))%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" onclick="" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home_page') }}">Главная страница<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for categorya in categories %}
                            <a class="dropdown-item" href="{{ path('objects_category',{category: categorya.id}) }}">{{ categorya.name }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Компания
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">+7(906)994-81-78</a>
                        <a class="dropdown-item" href="#">artemzi1000@mail.ru</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Больше информации</a>
                    </div>
                </li>

                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('easyadmin') }}">Админ</a>
                    </li>
                {% endif %}

            </ul>
            {% endif %}
            <div class="form-inline">
                {% if is_granted(expression('"ROLE_USER" in roles')) %}
{#                    <li >#}
                    <div style="position: relative">
                        <a class="dropdown-toggle-split" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://transtrade.pro/img/lk-icon.png" onclick="" alt="Account" style="width:35px;margin-right: 15px;">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Dropdown">
                            <a class="dropdown-item" href="{{ path('account') }}">Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">Выйти</a>
                        </div>
                    </div>
{#                    </li>#}
                {% else %}
                    <a href="{{ path('app_login') }}">
                        <img src="https://transtrade.pro/img/lk-icon.png" onclick="" alt="Account" style="width:35px;margin-right: 15px;">
                    </a>
                {% endif %}
                {% if is_granted(expression('"ROLE_USER" in roles'))%}
                <form class=" my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                 {% endif %}
            </div>
        </div>
    </nav>
    <!-- Черная полоса -->
    <hr>
