<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Black Clover{% endblock %}</title>

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/CatalogStyle.css">
        <link rel="stylesheet" href="/assets/css/StyleJoJo.css">
        <link rel="stylesheet" href="/assets/css/StyleSearch.css">
        <link rel="stylesheet" href="/assets/css/ProductsShow.css">
        <link rel="stylesheet" href="/assets/css/ProductShow.css">
        <link rel="stylesheet" href="/assets/css/Registration.css">
    {% endblock %}
</head>
<body style="font-family: 'Comic Sans MS'">
{{ render(controller('App\\Controller\\NovbarController::index')) }}
{% block body %}{% endblock %}
<!-- Название -->
<div class="title">
    <H1>Black clover</H1>
</div>

<!-- Картинка -->
<img src="http://ok-t.ru/studopediasu/baza3/848330857894.files/image174.png" class="card-img-top logo" alt="...">
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/assets/js/JojoScript.js"></script>
{% endblock %}
</body>
</html>
